:root{
   
    --color-branco:#FFFFFF;
    --color-destaque:#f25a70;

    --color-cinza-claro:#eeeeee;
    --color-cinza-medio: #9b9b9b;
    --color-cinza-escuro:#707070;
    --color-cinza-preto:#3a4042;
    --color-cinza-branco:#f4f1e4;
    --color-cinza-bege:#eae6da;

    --color-amarelo-claro: #fffcee;
    


}