@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.action{
  font:bold 14px 'Monteserrat', sans-serif;
  color: #707070;
  text-decoration:none;
  text-transform:uppercase;
  
}